{% extends 'base.html.twig' %}
{% block body %}
    <div class="document" id="{{ id }}">
        <p>{{ id }} # {{ type }}</p>
    {%  for child in _children_ %}
        {{ child.toString|raw }}
    {% endfor %}
    </div>
{% endblock %}